@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Information System - (SIS)</h1>
    <p class="lead">SIS is an application to manage student information and registration system.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <a class="title_nounderline" href="/Students">
            <h2>Students</h2>
        </a>
        <p>
            Students basic Information.
        </p>
    </div>
    <div class="col-md-4">
        <a class="title_nounderline" href="/Instructors">
            <h2>Instructors</h2>
        </a>
        <p>Instructors basic Information.</p>
    </div>
    <div class="col-md-4">
        <a class="title_nounderline" href="/Departments">
            <h2>Departments</h2>
        </a>
        <p>
            Departments basic Information.
        </p>
    </div>
    <div class="col-md-4">
        <a class="title_nounderline" href="/Cours">
            <h2>Courses</h2>
        </a>
        <p>Courses basic Information.</p>
    </div>
    <div class="col-md-4">
        <a class="title_nounderline" href="/StudyTerms">
            <h2>Study Terms</h2>
        </a>
        <p>
            Study Terms basic Information.
        </p>
    </div>
    <div class="col-md-4">
        <a class="title_nounderline" href="/TeachingAssignments">
            <h2>Teaching Assignments</h2>
        </a>
        <p>Teaching Assignments basic Information.</p>
    </div>
    <div class="col-md-4">
        <a class="title_nounderline" href="/Registrations">
            <h2>Course Registration</h2>
        </a>
        <p>
            Course Registration basic Information.
        </p>
    </div>
</div>